table of contents
1. Prepare
2. Data Import, Encoding
3. EDA
4. write df

In [1]:
import os, random, time

import numpy as np
import pandas as pd

# Prepare

## Define parameters

In [2]:
base_dir = os.path.join('..','..')
data_dir = os.path.join(base_dir, 'data')
raw_dir = os.path.join(data_dir, 'raw')
processed_dir = os.path.join(data_dir, 'processed')

infile_list = os.listdir(processed_dir)
for i, infile in enumerate(infile_list):
    print(i, infile)

0 events.csv
1 matches
2 passing.zip.bkp
3 events
4 passing.csv
5 coaches.csv
6 passing_time.csv
7 .~lock.teams.csv#
8 passing.zip
9 passing_match.csv
10 teams.csv

## Data import

In [3]:
competition = 'Spain'
#df = pd.read_csv(os.path.join(processed_dir+'/events', 'events_'+competition+'.csv'))
df = pd.read_json(os.path.join(raw_dir+'/events', 'events_'+competition+'.json'))
teams_df = pd.read_json(os.path.join(raw_dir, 'teams.json'))
players_df = pd.read_json(os.path.join(raw_dir, 'players.json'))
matches_df = pd.read_json(os.path.join(raw_dir+'/matches', 'matches_'+competition+'.json'))

In [4]:
#players_df['shortName'] = players_df.shortName.apply(lambda x: x.encode('utf-8').decode('unicode-escape'))
#teams_df['officialName'] = teams_df.officialName.apply(lambda x: x.encode('utf-8').decode('unicode-escape'))
#teams_df['name'] = teams_df.name.apply(lambda x: x.encode('utf-8').decode('unicode-escape'))

In [5]:
df.head()

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
0,8,Simple pass,[{'id': 1801}],3542,"[{'y': 61, 'x': 37}, {'y': 50, 'x': 50}]",2565548,Pass,682,1H,2.994582,85,180864419
1,8,Simple pass,[{'id': 1801}],274435,"[{'y': 50, 'x': 50}, {'y': 30, 'x': 45}]",2565548,Pass,682,1H,3.137020,85,180864418
2,8,Simple pass,[{'id': 1801}],364860,"[{'y': 30, 'x': 45}, {'y': 12, 'x': 38}]",2565548,Pass,682,1H,6.709668,85,180864420
3,8,Simple pass,[{'id': 1801}],3534,"[{'y': 12, 'x': 38}, {'y': 69, 'x': 32}]",2565548,Pass,682,1H,8.805497,85,180864421
4,8,Simple pass,[{'id': 1801}],3695,"[{'y': 69, 'x': 32}, {'y': 37, 'x': 31}]",2565548,Pass,682,1H,14.047492,85,180864422

In [6]:
df[['st_x', 'st_y', 'ed_x', 'ed_y']] = df.apply(lambda xs: [xs['positions'][0]['x'], xs['positions'][0]['y'], xs['positions'][1]['x'], xs['positions'][1]['y']] if (len(xs['positions']) >= 2) else [xs['positions'][0]['x'], xs['positions'][0]['y'],None, None] , result_type='expand', axis=1)

In [7]:
teams_df_indexed = teams_df.set_index('wyId')

df = pd.merge(df, teams_df_indexed, left_on='teamId', right_index=True)

In [8]:
players_df_indexed = players_df.set_index('wyId')

df = pd.merge(df, players_df_indexed, left_on='playerId', right_index=True)

In [9]:
matches_df_indexed = matches_df.set_index('wyId')

df = pd.merge(df, matches_df_indexed, left_on='matchId', right_index=True)

In [10]:
#df.loc[df.eventName=='Shot'].head(30)
df.iloc[1890]

eventId                                                                  8
subEventName                                                   Simple pass
tags                                                        [{'id': 1801}]
playerId                                                             25472
positions                           [{'y': 3, 'x': 82}, {'y': 6, 'x': 67}]
matchId                                                            2565558
eventName                                                             Pass
teamId                                                                 682
matchPeriod                                                             1H
eventSec                                                            1618.6
subEventId                                                              85
id                                                               182021285
st_x                                                                    82
st_y                                                                     3
ed_x                                                                    67
ed_y                                                                     6
city                                                            Villarreal
name                                                            Villarreal
officialName                                Villarreal Club de F\u00fatbol
area                     {'name': 'Spain', 'id': '724', 'alpha3code': '...
type                                                                  club
passportArea             {'name': 'Congo DR', 'id': 180, 'alpha3code': ...
weight                                                                  74
firstName                                                      C\u00e9dric
middleName
lastName                                                           Bakambu
currentTeamId                                                         9130
birthDate                                                       1991-04-11
height                                                                 182
role                     {'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...
birthArea                {'name': 'France', 'id': 250, 'alpha3code': 'F...
foot                                                                 right
shortName                                                       C. Bakambu
currentNationalTeamId                                                 null
status                                                              Played
roundId                                                            4406122
gameweek                                                                 2
teamsData                {'687': {'scoreET': 0, 'coachId': 4784, 'side'...
seasonId                                                            181144
dateutc                                                2017-08-25 18:15:00
winner                                                                 687
venue                                          Estadio Municipal de Anoeta
label                                    Real Sociedad - Villarreal, 3 - 0
date                                   August 25, 2017 at 8:15:00 PM GMT+2
referees                 [{'refereeId': 384961, 'role': 'referee'}, {'r...
duration                                                           Regular
competitionId                                                          795
Name: 16332, dtype: object

In [11]:
df.st_x.dtype

dtype('float64')

In [12]:
df_pass = df.loc[df.eventName=='Pass'].copy()

In [25]:
df_pass[df_pass.name=='Barcelona'].head()
df_pass.iloc[243]

eventId                                                                  8
subEventName                                                   Simple pass
tags                                                        [{'id': 1801}]
playerId                                                              3277
positions                         [{'y': 39, 'x': 38}, {'y': 70, 'x': 35}]
matchId                                                            2565548
eventName                                                             Pass
teamId                                                                 682
matchPeriod                                                             1H
eventSec                                                           549.464
subEventId                                                              85
id                                                               180864501
st_x                                                                    38
st_y                                                                    39
ed_x                                                                    35
ed_y                                                                    70
city                                                            Villarreal
name                                                            Villarreal
officialName                                Villarreal Club de F\u00fatbol
area                     {'name': 'Spain', 'id': '724', 'alpha3code': '...
type                                                                  club
passportArea             {'name': 'Spain', 'id': '724', 'alpha3code': '...
weight                                                                  78
firstName                                                      V\u00edctor
middleName
lastName                                                   Ru\u00edz Torre
currentTeamId                                                          682
birthDate                                                       1989-01-25
height                                                                 185
role                     {'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...
birthArea                {'name': 'Spain', 'id': '724', 'alpha3code': '...
foot                                                                  left
shortName                                            V\u00edctor Ru\u00edz
currentNationalTeamId                                                 null
status                                                              Played
roundId                                                            4406122
gameweek                                                                 1
teamsData                {'695': {'scoreET': 0, 'coachId': 301696, 'sid...
seasonId                                                            181144
dateutc                                                2017-08-21 18:15:00
winner                                                                 695
venue                                           Estadio Ciudad de Valencia
label                                          Levante - Villarreal, 1 - 0
date                                   August 21, 2017 at 8:15:00 PM GMT+2
referees                 [{'refereeId': 395056, 'role': 'referee'}, {'r...
duration                                                           Regular
competitionId                                                          795
Name: 125, dtype: object

In [55]:
#df_pass['st_x'] = None
#df_pass['st_y'] = None
#df_pass['ed_x'] = None
#df_pass['ed_y'] = None

#df_pass['list_positions'] = df_pass['positions'].apply(lambda x: list(x))

#df_pass['list_positions'].values
#df_pass[['st_x', 'st_y', 'ed_x', 'ed_y']] = df_pass.apply(lambda xs: [xs['positions'][0]['x'], xs['positions'][0]['y'], xs['positions'][1]['x'], xs['positions'][1]['y']], result_type='expand', axis=1)
#df_pass['st_x'] = df_pass.apply(lambda xs: xs['positions'][0]['x'])


df_pass['success'] = df_pass.apply(lambda xs: 1 if 1801 in [tag['id'] for tag in xs['tags']] else 0, axis=1)

In [56]:
df_pass[df_pass.shortName=='Jordi Alba'].head(20)[['name', 'lastName','st_x', 'st_y']]

             name    lastName  st_x  st_y
235215  Barcelona  Alba Ramos  32.0   7.0
235217  Barcelona  Alba Ramos  33.0   8.0
235221  Barcelona  Alba Ramos  35.0   6.0
235240  Barcelona  Alba Ramos  52.0   7.0
235255  Barcelona  Alba Ramos  57.0   5.0
235265  Barcelona  Alba Ramos  39.0   6.0
235275  Barcelona  Alba Ramos  60.0   5.0
235277  Barcelona  Alba Ramos  66.0  10.0
235300  Barcelona  Alba Ramos  54.0  21.0
235316  Barcelona  Alba Ramos  68.0   5.0
235325  Barcelona  Alba Ramos  30.0  18.0
235330  Barcelona  Alba Ramos  16.0   2.0
235349  Barcelona  Alba Ramos  11.0  39.0
235354  Barcelona  Alba Ramos  39.0   9.0
235357  Barcelona  Alba Ramos  73.0   6.0
235371  Barcelona  Alba Ramos  27.0  12.0
235409  Barcelona  Alba Ramos  33.0  12.0
235432  Barcelona  Alba Ramos  31.0  10.0
235439  Barcelona  Alba Ramos  65.0   3.0
235450  Barcelona  Alba Ramos  41.0   4.0

## Match Result

In [57]:
df_pass[['won','drawn', 'lost']] = df_pass.apply(lambda x: [1 if x['winner']==x['teamId'] else 0, 1 if x['winner']==0 else 0, 1 if (x['winner']!=x['teamId'] and x['winner']!=0) else 0], result_type='expand', axis=1)

### Calculate sectors of the playing field

Divide the land into 18 rectangles, we have a grid of 6 x 3 that mark 18 zones (https://footballbh.net/2019/02/04/the-use-of-zone-14-the-key-to-winning-football-matches/)

Zones

* Horizontal zone 
    * left 
    * center 
    * right
* Vertical zone  
    * own field (low, middle, high) 
    * rival field (low, middle, high)

In [67]:
#sector           = ('own', 'rival')
vertical_zones   = (('left',(0,25)),('middle', (25,75)),('right', (75,100)))
horizontal_zones = (('own_low', (0, 17)), ('own_middle', (17, 30)), ('own_high', (30, 50)),('rival_low', (50, 70)), ('rival_middle', (70, 83)), ('rival_high', (83, 100)))


#df_pass[list(map(lambda v : 'v_'+ v[0], vertical_zones))] = df_pass.apply(lambda x: list(map(lambda v : v[1], vertical_zones)), result_type='expand', axis=1)

In [68]:
df_pass[list(map(lambda v : 'v_'+ v[0], vertical_zones))] = df_pass.apply(lambda x: list(map(lambda v : 1 if (v[1][0] < x['st_y'] <= v[1][1]) else 0, vertical_zones)), result_type='expand', axis=1)

In [69]:
df_pass[list(map(lambda v : 'h_'+ v[0], horizontal_zones))] = df_pass.apply(lambda x: list(map(lambda v : 1 if (v[1][0] < x['st_x'] <= v[1][1]) else 0, horizontal_zones)), result_type='expand', axis=1)

In [70]:
df_pass[df_pass.shortName=='Jordi Alba'].head(20)[['name', 'lastName','st_x', 'st_y', 'v_left']]

             name    lastName  st_x  st_y  v_left
235215  Barcelona  Alba Ramos  32.0   7.0       1
235217  Barcelona  Alba Ramos  33.0   8.0       1
235221  Barcelona  Alba Ramos  35.0   6.0       1
235240  Barcelona  Alba Ramos  52.0   7.0       1
235255  Barcelona  Alba Ramos  57.0   5.0       1
235265  Barcelona  Alba Ramos  39.0   6.0       1
235275  Barcelona  Alba Ramos  60.0   5.0       1
235277  Barcelona  Alba Ramos  66.0  10.0       1
235300  Barcelona  Alba Ramos  54.0  21.0       1
235316  Barcelona  Alba Ramos  68.0   5.0       1
235325  Barcelona  Alba Ramos  30.0  18.0       1
235330  Barcelona  Alba Ramos  16.0   2.0       1
235349  Barcelona  Alba Ramos  11.0  39.0       0
235354  Barcelona  Alba Ramos  39.0   9.0       1
235357  Barcelona  Alba Ramos  73.0   6.0       1
235371  Barcelona  Alba Ramos  27.0  12.0       1
235409  Barcelona  Alba Ramos  33.0  12.0       1
235432  Barcelona  Alba Ramos  31.0  10.0       1
235439  Barcelona  Alba Ramos  65.0   3.0       1
235450  Barcelona  Alba Ramos  41.0   4.0       1

In [71]:
df_pass[df_pass.shortName=='Jordi Alba'].head(20)[['name', 'lastName','st_x', 'st_y', 'v_left']]

             name    lastName  st_x  st_y  v_left
235215  Barcelona  Alba Ramos  32.0   7.0       1
235217  Barcelona  Alba Ramos  33.0   8.0       1
235221  Barcelona  Alba Ramos  35.0   6.0       1
235240  Barcelona  Alba Ramos  52.0   7.0       1
235255  Barcelona  Alba Ramos  57.0   5.0       1
235265  Barcelona  Alba Ramos  39.0   6.0       1
235275  Barcelona  Alba Ramos  60.0   5.0       1
235277  Barcelona  Alba Ramos  66.0  10.0       1
235300  Barcelona  Alba Ramos  54.0  21.0       1
235316  Barcelona  Alba Ramos  68.0   5.0       1
235325  Barcelona  Alba Ramos  30.0  18.0       1
235330  Barcelona  Alba Ramos  16.0   2.0       1
235349  Barcelona  Alba Ramos  11.0  39.0       0
235354  Barcelona  Alba Ramos  39.0   9.0       1
235357  Barcelona  Alba Ramos  73.0   6.0       1
235371  Barcelona  Alba Ramos  27.0  12.0       1
235409  Barcelona  Alba Ramos  33.0  12.0       1
235432  Barcelona  Alba Ramos  31.0  10.0       1
235439  Barcelona  Alba Ramos  65.0   3.0       1
235450  Barcelona  Alba Ramos  41.0   4.0       1

In [72]:
#df_pass.reindex()
df_pass.groupby(['matchId', 'teamId', 'eventId','subEventId', 'matchPeriod']).v_left.sum().head(30)

matchId  teamId  eventId  subEventId  matchPeriod
2565548  682     8        80          1H              0
                                      2H              2
                          81          2H              0
                          82          1H              4
                                      2H              4
                          83          1H              4
                                      2H              7
                          84          1H              0
                          85          1H             29
                                      2H             59
                          86          1H              1
                                      2H              3
         695     8        80          1H              8
                                      2H              4
                          81          2H              0
                          82          1H              2
                                      2H              2
                          83          1H              1
                                      2H              4
                          84          1H              0
                                      2H              0
                          85          1H             31
                                      2H             29
                          86          1H              0
                                      2H              3
2565549  687     8        80          1H              2
                                      2H              3
                          81          1H              0
                          82          1H              2
                                      2H              2
Name: v_left, dtype: int64

## Export

In [73]:
fields = ['gameweek','matchId', 'teamId', 'name', 'playerId', 'shortName', 'eventName', 'subEventName', 'matchPeriod', 'eventSec' , 'st_x', 'st_y', 'ed_x', 'ed_y', 'success'] 
fields +=list(map(lambda v : 'v_'+ v[0], vertical_zones)) 
fields +=list(map(lambda v : 'h_'+ v[0], horizontal_zones))
fields +=['won','drawn', 'lost']

fields

['gameweek',
 'matchId',
 'teamId',
 'name',
 'playerId',
 'shortName',
 'eventName',
 'subEventName',
 'matchPeriod',
 'eventSec',
 'st_x',
 'st_y',
 'ed_x',
 'ed_y',
 'success',
 'v_left',
 'v_middle',
 'v_right',
 'h_own_low',
 'h_own_middle',
 'h_own_high',
 'h_rival_low',
 'h_rival_middle',
 'h_rival_high',
 'won',
 'drawn',
 'lost']

In [74]:
df_save = df_pass[fields].sort_values(by=['matchId','eventSec'])

In [75]:
df_save_match = df_pass[fields].loc[df_pass.matchId==2565548].sort_values(by=['eventSec'])

In [76]:
df_pass.head(50)

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,...,v_right,h_own_low,h_own_middle,h_own_high,h_rival_low,h_rival_middle,h_rival_high,success,qtime,qtime2
0,8,Simple pass,[{'id': 1801}],3542,"[{'y': 61, 'x': 37}, {'y': 50, 'x': 50}]",2565548,Pass,682,1H,2.994582,...,0,0,0,1,0,0,0,1,"(-1, 4]","(-1.0, 4.0]"
39,8,Simple pass,[{'id': 1801}],3542,"[{'y': 48, 'x': 39}, {'y': 65, 'x': 26}]",2565548,Pass,682,1H,166.859710,...,0,0,0,1,0,0,0,1,"(-1, 4]","(-1.0, 4.0]"
43,8,High pass,"[{'id': 901}, {'id': 1802}]",3542,"[{'y': 67, 'x': 32}, {'y': 42, 'x': 74}]",2565548,Pass,682,1H,181.665639,...,0,0,0,1,0,0,0,0,"(-1, 4]","(-1.0, 4.0]"
50,8,Simple pass,[{'id': 1801}],3542,"[{'y': 60, 'x': 35}, {'y': 97, 'x': 42}]",2565548,Pass,682,1H,213.736626,...,0,0,0,1,0,0,0,1,"(-1, 4]","(-1.0, 4.0]"
60,8,Head pass,[{'id': 1801}],3542,"[{'y': 25, 'x': 26}, {'y': 9, 'x': 27}]",2565548,Pass,682,1H,278.645906,...,0,0,1,0,0,0,0,1,"(4, 9]","(4.0, 9.0]"
85,8,Smart pass,"[{'id': 901}, {'id': 1802}]",3542,"[{'y': 61, 'x': 38}, {'y': 47, 'x': 54}]",2565548,Pass,682,1H,354.921472,...,0,0,0,1,0,0,0,0,"(4, 9]","(4.0, 9.0]"
105,8,Simple pass,[{'id': 1801}],3542,"[{'y': 71, 'x': 32}, {'y': 96, 'x': 42}]",2565548,Pass,682,1H,440.315069,...,0,0,0,1,0,0,0,1,"(4, 9]","(4.0, 9.0]"
199,8,Simple pass,[{'id': 1801}],3542,"[{'y': 77, 'x': 45}, {'y': 72, 'x': 32}]",2565548,Pass,682,1H,844.316154,...,1,0,0,1,0,0,0,1,"(14, 19]","(14.0, 19.0]"
205,8,Simple pass,[{'id': 1801}],3542,"[{'y': 87, 'x': 42}, {'y': 38, 'x': 38}]",2565548,Pass,682,1H,862.919269,...,1,0,0,1,0,0,0,1,"(14, 19]","(14.0, 19.0]"
240,8,Simple pass,[{'id': 1801}],3542,"[{'y': 23, 'x': 30}, {'y': 19, 'x': 30}]",2565548,Pass,682,1H,1004.295944,...,0,0,1,0,0,0,0,1,"(14, 19]","(14.0, 19.0]"
244,8,Smart pass,"[{'id': 901}, {'id': 1802}]",3542,"[{'y': 74, 'x': 54}, {'y': 68, 'x': 55}]",2565548,Pass,682,1H,1016.096889,...,0,0,0,0,1,0,0,0,"(14, 19]","(14.0, 19.0]"
267,8,Simple pass,[{'id': 1801}],3542,"[{'y': 81, 'x': 29}, {'y': 72, 'x': 32}]",2565548,Pass,682,1H,1116.562544,...,1,0,1,0,0,0,0,1,"(14, 19]","(14.0, 19.0]"
280,8,Simple pass,[{'id': 1801}],3542,"[{'y': 31, 'x': 36}, {'y': 11, 'x': 28}]",2565548,Pass,682,1H,1140.255807,...,0,0,0,1,0,0,0,1,"(19, 24]","(19.0, 24.0]"
282,8,Simple pass,[{'id': 1801}],3542,"[{'y': 24, 'x': 32}, {'y': 39, 'x': 26}]",2565548,Pass,682,1H,1143.159892,...,0,0,0,1,0,0,0,1,"(19, 24]","(19.0, 24.0]"
367,8,Simple pass,[{'id': 1802}],3542,"[{'y': 44, 'x': 62}, {'y': 56, 'x': 64}]",2565548,Pass,682,1H,1611.873536,...,0,0,0,0,1,0,0,0,"(24, 29]","(24.0, 29.0]"
376,8,Simple pass,[{'id': 1801}],3542,"[{'y': 74, 'x': 26}, {'y': 91, 'x': 17}]",2565548,Pass,682,1H,1632.961465,...,0,0,1,0,0,0,0,1,"(24, 29]","(24.0, 29.0]"
382,8,Simple pass,[{'id': 1801}],3542,"[{'y': 86, 'x': 38}, {'y': 74, 'x': 32}]",2565548,Pass,682,1H,1652.432624,...,1,0,0,1,0,0,0,1,"(24, 29]","(24.0, 29.0]"
384,8,Simple pass,[{'id': 1801}],3542,"[{'y': 91, 'x': 41}, {'y': 81, 'x': 44}]",2565548,Pass,682,1H,1658.821157,...,1,0,0,1,0,0,0,1,"(24, 29]","(24.0, 29.0]"
411,8,Simple pass,"[{'id': 1901}, {'id': 1801}]",3542,"[{'y': 43, 'x': 40}, {'y': 16, 'x': 64}]",2565548,Pass,682,1H,1764.266414,...,0,0,0,1,0,0,0,1,"(29, 34]","(29.0, 34.0]"
432,8,Head pass,"[{'id': 1401}, {'id': 1802}]",3542,"[{'y': 61, 'x': 21}, {'y': 75, 'x': 35}]",2565548,Pass,682,1H,1856.250690,...,0,0,1,0,0,0,0,0,"(29, 34]","(29.0, 34.0]"
438,8,Smart pass,"[{'id': 1901}, {'id': 901}, {'id': 1801}]",3542,"[{'y': 80, 'x': 38}, {'y': 74, 'x': 68}]",2565548,Pass,682,1H,1871.179103,...,1,0,0,1,0,0,0,1,"(29, 34]","(29.0, 34.0]"
465,8,Head pass,[{'id': 1801}],3542,"[{'y': 30, 'x': 38}, {'y': 22, 'x': 27}]",2565548,Pass,682,1H,1965.283125,...,0,0,0,1,0,0,0,1,"(29, 34]","(29.0, 34.0]"
487,8,Simple pass,[{'id': 1801}],3542,"[{'y': 23, 'x': 53}, {'y': 41, 'x': 38}]",2565548,Pass,682,1H,2057.104343,...,0,0,0,0,1,0,0,1,"(34, 39]","(34.0, 39.0]"
504,8,Simple pass,[{'id': 1801}],3542,"[{'y': 63, 'x': 75}, {'y': 33, 'x': 72}]",2565548,Pass,682,1H,2099.860206,...,0,0,0,0,0,1,0,1,"(34, 39]","(34.0, 39.0]"
513,8,High pass,[{'id': 1801}],3542,"[{'y': 68, 'x': 52}, {'y': 98, 'x': 69}]",2565548,Pass,682,1H,2125.960273,...,0,0,0,0,1,0,0,1,"(34, 39]","(34.0, 39.0]"
515,8,Simple pass,[{'id': 1801}],3542,"[{'y': 72, 'x': 57}, {'y': 42, 'x': 46}]",2565548,Pass,682,1H,2132.609995,...,0,0,0,0,1,0,0,1,"(34, 39]","(34.0, 39.0]"
528,8,High pass,"[{'id': 901}, {'id': 1802}]",3542,"[{'y': 29, 'x': 66}, {'y': 20, 'x': 94}]",2565548,Pass,682,1H,2170.570865,...,0,0,0,0,1,0,0,0,"(34, 39]","(34.0, 39.0]"
611,8,Simple pass,[{'id': 1801}],3542,"[{'y': 86, 'x': 45}, {'y': 89, 'x': 50}]",2565548,Pass,682,1H,2473.907296,...,1,0,0,1,0,0,0,1,"(39, 44]","(39.0, 44.0]"
613,8,Simple pass,[{'id': 1801}],3542,"[{'y': 91, 'x': 40}, {'y': 79, 'x': 36}]",2565548,Pass,682,1H,2475.194919,...,1,0,0,1,0,0,0,1,"(39, 44]","(39.0, 44.0]"
617,8,Simple pass,[{'id': 1802}],3542,"[{'y': 81, 'x': 42}, {'y': 100, 'x': 62}]",2565548,Pass,682,1H,2487.772852,...,1,0,0,1,0,0,0,0,"(39, 44]","(39.0, 44.0]"
623,8,Simple pass,[{'id': 1802}],3542,"[{'y': 82, 'x': 60}, {'y': 79, 'x': 75}]",2565548,Pass,682,1H,2512.802757,...,1,0,0,0,1,0,0,0,"(39, 44]","(39.0, 44.0]"
627,8,Simple pass,[{'id': 1802}],3542,"[{'y': 62, 'x': 73}, {'y': 44, 'x': 81}]",2565548,Pass,682,1H,2518.624050,...,0,0,0,0,0,1,0,0,"(39, 44]","(39.0, 44.0]"
652,8,Simple pass,[{'id': 1801}],3542,"[{'y': 57, 'x': 69}, {'y': 26, 'x': 65}]",2565548,Pass,682,1H,2597.563775,...,0,0,0,0,1,0,0,1,"(39, 44]","(39.0, 44.0]"
656,8,Simple pass,[{'id': 1801}],3542,"[{'y': 50, 'x': 54}, {'y': 34, 'x': 45}]",2565548,Pass,682,1H,2609.237578,...,0,0,0,0,1,0,0,1,"(39, 44]","(39.0, 44.0]"
658,8,Simple pass,[{'id': 1801}],3542,"[{'y': 47, 'x': 46}, {'y': 59, 'x': 47}]",2565548,Pass,682,1H,2615.280571,...,0,0,0,1,0,0,0,1,"(39, 44]","(39.0, 44.0]"
661,8,High pass,[{'id': 1801}],3542,"[{'y': 58, 'x': 49}, {'y': 16, 'x': 74}]",2565548,Pass,682,1H,2622.569234,...,0,0,0,1,0,0,0,1,"(39, 44]","(39.0, 44.0]"
666,8,Simple pass,[{'id': 1801}],3542,"[{'y': 25, 'x': 40}, {'y': 15, 'x': 41}]",2565548,Pass,682,1H,2631.951782,...,0,0,0,1,0,0,0,1,"(39, 44]","(39.0, 44.0]"
677,8,Smart pass,"[{'id': 901}, {'id': 1802}]",3542,"[{'y': 24, 'x': 69}, {'y': 26, 'x': 84}]",2565548,Pass,682,1H,2671.631773,...,0,0,0,0,1,0,0,0,"(44, 49]","(44.0, 49.0]"
698,8,Simple pass,[{'id': 1801}],3542,"[{'y': 30, 'x': 62}, {'y': 39, 'x': 53}]",2565548,Pass,682,1H,2703.515364,...,0,0,0,0,1,0,0,1,"(44, 49]","(44.0, 49.0]"
702,8,Simple pass,[{'id': 1801}],3542,"[{'y': 55, 'x': 73}, {'y': 47, 'x': 67}]",2565548,Pass,682,1H,2721.729412,...,0,0,0,0,0,1,0,1,"(44, 49]","(44.0, 49.0]"
720,8,Simple pass,[{'id': 1801}],3542,"[{'y': 47, 'x': 33}, {'y': 59, 'x': 43}]",2565548,Pass,682,1H,2799.666609,...,0,0,0,1,0,0,0,1,"(44, 49]","(44.0, 49.0]"
754,8,Simple pass,[{'id': 1801}],3542,"[{'y': 29, 'x': 46}, {'y': 8, 'x': 33}]",2565548,Pass,682,2H,77.301651,...,0,0,0,1,0,0,0,1,"(-1, 4]","(-1.0, 4.0]"
813,8,Simple pass,[{'id': 1801}],3542,"[{'y': 61, 'x': 64}, {'y': 70, 'x': 50}]",2565548,Pass,682,2H,236.488225,...,0,0,0,0,1,0,0,1,"(-1, 4]","(-1.0, 4.0]"
845,8,Simple pass,[{'id': 1801}],3542,"[{'y': 25, 'x': 41}, {'y': 34, 'x': 44}]",2565548,Pass,682,2H,306.818434,...,0,0,0,1,0,0,0,1,"(4, 9]","(4.0, 9.0]"
850,8,Simple pass,[{'id': 1801}],3542,"[{'y': 29, 'x': 44}, {'y': 34, 'x': 47}]",2565548,Pass,682,2H,323.173829,...,0,0,0,1,0,0,0,1,"(4, 9]","(4.0, 9.0]"
853,8,Simple pass,[{'id': 1801}],3542,"[{'y': 23, 'x': 46}, {'y': 32, 'x': 29}]",2565548,Pass,682,2H,327.217813,...,0,0,0,1,0,0,0,1,"(4, 9]","(4.0, 9.0]"
859,8,Simple pass,[{'id': 1801}],3542,"[{'y': 33, 'x': 50}, {'y': 9, 'x': 48}]",2565548,Pass,682,2H,344.579549,...,0,0,0,1,0,0,0,1,"(4, 9]","(4.0, 9.0]"
939,8,Simple pass,[{'id': 1801}],3542,"[{'y': 39, 'x': 63}, {'y': 12, 'x': 64}]",2565548,Pass,682,2H,583.067428,...,0,0,0,0,1,0,0,1,"(9, 14]","(9.0, 14.0]"
946,8,Simple pass,[{'id': 1801}],3542,"[{'y': 28, 'x': 61}, {'y': 38, 'x': 68}]",2565548,Pass,682,2H,601.186740,...,0,0,0,0,1,0,0,1,"(9, 14]","(9.0, 14.0]"
967,8,High pass,[{'id': 1801}],3542,"[{'y': 35, 'x': 44}, {'y': 90, 'x': 64}]",2565548,Pass,682,2H,712.540180,...,0,0,0,1,0,0,0,1,"(9, 14]","(9.0, 14.0]"

In [77]:
df_pass[df_pass.shortName=='Jordi Alba'].head(20)[['name', 'lastName','st_x', 'st_y', 'v_left', 'h_own_low', 'h_own_middle', 'h_own_high',]]

,name,lastName,st_x,st_y,v_left,h_own_low,h_own_middle,h_own_high
235215,Barcelona,Alba Ramos,32.0,7.0,1,0,0,1
235217,Barcelona,Alba Ramos,33.0,8.0,1,0,0,1
235221,Barcelona,Alba Ramos,35.0,6.0,1,0,0,1
235240,Barcelona,Alba Ramos,52.0,7.0,1,0,0,0
235255,Barcelona,Alba Ramos,57.0,5.0,1,0,0,0
235265,Barcelona,Alba Ramos,39.0,6.0,1,0,0,1
235275,Barcelona,Alba Ramos,60.0,5.0,1,0,0,0
235277,Barcelona,Alba Ramos,66.0,10.0,1,0,0,0
235300,Barcelona,Alba Ramos,54.0,21.0,1,0,0,0
235316,Barcelona,Alba Ramos,68.0,5.0,1,0,0,0
235325,Barcelona,Alba Ramos,30.0,18.0,1,0,1,0
235330,Barcelona,Alba Ramos,16.0,2.0,1,1,0,0
235349,Barcelona,Alba Ramos,11.0,39.0,0,1,0,0
235354,Barcelona,Alba Ramos,39.0,9.0,1,0,0,1
235357,Barcelona,Alba Ramos,73.0,6.0,1,0,0,0
235371,Barcelona,Alba Ramos,27.0,12.0,1,0,1,0
235409,Barcelona,Alba Ramos,33.0,12.0,1,0,0,1
235432,Barcelona,Alba Ramos,31.0,10.0,1,0,0,1
235439,Barcelona,Alba Ramos,65.0,3.0,1,0,0,0
235450,Barcelona,Alba Ramos,41.0,4.0,1,0,0,1

In [78]:
minute=5
end=50

#df_save_time = df_pass.groupby(['matchId', 'teamId', 'eventId','subEventId', 'matchPeriod', pd.cut(df_pass.eventSec/60, np.arange(-1, end, minute))]).agg({'v_left': 'sum', 'v_middle': 'sum'}).reset_index()

from sklearn.preprocessing import LabelEncoder
sc = LabelEncoder()
df_pass['qtime'] = pd.cut(df_pass.eventSec/60, np.arange(-1, end, minute))
df_pass['qtime2'] = df_pass['qtime'].astype(str)
df_save_time = df_pass.groupby(['matchId', 'teamId', 'eventId','subEventId', 'matchPeriod', 'qtime2']).agg({'eventSec':'min', 'v_left': 'sum', 'v_middle': 'sum', 'v_right': 'sum'})

#df_save_time = df_pass.groupby(['matchId', 'teamId', 'eventId','subEventId', 'matchPeriod', pd.cut(df_pass.eventSec/60, np.arange(-1, end, minute))])

df_save_time.reset_index(inplace=True)
df_save_time.sort_values(['matchId', 'matchPeriod', 'eventSec'], inplace=True)
df_save_time.head(5)

#.agg({'v_left': 'sum', 'v_middle': 'sum'})

,matchId,teamId,eventId,subEventId,matchPeriod,qtime2,eventSec,v_left,v_middle,v_right
44,2565548,682,8,85,1H,"(-1.0, 4.0]",2.994582,4,15,4
65,2565548,682,8,86,1H,"(-1.0, 4.0]",39.291345,0,0,1
0,2565548,682,8,80,1H,"(-1.0, 4.0]",40.568891,0,0,1
127,2565548,695,8,85,1H,"(-1.0, 4.0]",42.500082,3,3,1
148,2565548,695,8,86,1H,"(-1.0, 4.0]",150.448925,0,0,1

In [79]:
df_pass.sort_values(['matchId', 'matchPeriod', 'eventSec'])[(df_pass.matchId == 2565548) & (df_pass.qtime2 == '(-1.0, 4.0]')][['qtime', 'v_left']].head(20)

/home/diego/anaconda3/envs/wyscout/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

      qtime  v_left
0   (-1, 4]       0
1   (-1, 4]       0
2   (-1, 4]       0
3   (-1, 4]       1
4   (-1, 4]       0
5   (-1, 4]       0
6   (-1, 4]       0
7   (-1, 4]       0
8   (-1, 4]       0
9   (-1, 4]       0
10  (-1, 4]       0
11  (-1, 4]       0
12  (-1, 4]       0
13  (-1, 4]       0
14  (-1, 4]       1
16  (-1, 4]       1
27  (-1, 4]       0
28  (-1, 4]       0
34  (-1, 4]       1
35  (-1, 4]       0

In [80]:
df_pass[['qtime', 'qtime2']]

          qtime        qtime2
0       (-1, 4]   (-1.0, 4.0]
39      (-1, 4]   (-1.0, 4.0]
43      (-1, 4]   (-1.0, 4.0]
50      (-1, 4]   (-1.0, 4.0]
60       (4, 9]    (4.0, 9.0]
...         ...           ...
15690  (34, 39]  (34.0, 39.0]
15694  (34, 39]  (34.0, 39.0]
15781  (39, 44]  (39.0, 44.0]
15845  (44, 49]  (44.0, 49.0]
15851  (44, 49]  (44.0, 49.0]

[318713 rows x 2 columns]

In [81]:
df_save_time.head(100)

,matchId,teamId,eventId,subEventId,matchPeriod,qtime2,eventSec,v_left,v_middle,v_right
44,2565548,682,8,85,1H,"(-1.0, 4.0]",2.994582,4,15,4
65,2565548,682,8,86,1H,"(-1.0, 4.0]",39.291345,0,0,1
0,2565548,682,8,80,1H,"(-1.0, 4.0]",40.568891,0,0,1
127,2565548,695,8,85,1H,"(-1.0, 4.0]",42.500082,3,3,1
148,2565548,695,8,86,1H,"(-1.0, 4.0]",150.448925,0,0,1
...,...,...,...,...,...,...,...,...,...,...
138,2565548,695,8,85,2H,"(14.0, 19.0]",851.445525,7,7,1
55,2565548,682,8,85,2H,"(14.0, 19.0]",899.477960,4,5,2
83,2565548,695,8,80,2H,"(14.0, 19.0]",901.280759,0,1,0
8,2565548,682,8,81,2H,"(14.0, 19.0]",954.239649,0,1,0
72,2565548,682,8,86,2H,"(14.0, 19.0]",973.810953,1,0,0

## Save file

In [82]:
df_save.to_csv(os.path.join(processed_dir, 'passing.csv'), index=False)

In [83]:
df_save_match.to_csv(os.path.join(processed_dir, 'passing_match.csv'), index=False)

In [84]:
df_save_time.to_csv(os.path.join(processed_dir, 'passing_time.csv'), index=False)

NameError: name '__version__' is not defined